#map {
  width: 100%;
  height: calc(100vh - 60px);
}
#sidebar {
  position: absolute;
  z-index: 100;
  box-shadow: 0px 1px 1px grey;
  background: #f2f2f2;
  width: 325px;
  max-width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  top: 60px;
  display: block;
}
#filter {
  font-size: 1em;
  width: 300px;
  max-width: 80%;
  margin: 15px 5px 0px 5px;
}

.venue-item {
  padding: 5px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
}
.venue-item:hover {
  box-shadow: 2px 2px 2px grey;
  background-color: #663300;
  color: #ffe6cc;
}
.transition {
  -webkit-transition: transition 0.3s;
  -moz-transition: transition 0.3s;
  -o-transition: transition 0.3s;
  -ms-transition: transition 0.3s;
  transition: 0.3s;
}
.menu-text {
  float: right;
  margin: 0px;
  color: white;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  padding: 0px 15px;
  cursor: pointer;
}
#header {
  margin: 0px;
  color: white;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  padding: 0px 20px;
  display: inline-block;
}
#navbar {
  position: relative;
  z-index: 100;
  box-shadow: 0px 1px 1px grey;
  background: #4d2600;
}

@media (max-width: 450px) {
  #header {
    font-size: 1rem;
    padding: 0px 10px;
  }
}
